# Default
*                                                             @gravitee-io/am
*							      @gravitee-io/apim
*                                                             @gravitee-io/archi
								
