# Default
*                       @gravitee-io/archi @gravitee-io/tech-lead
*                       @gravitee-io/platform
/enterprise/apim/       @gravitee-io/apim
/enterprise/am/         @gravitee-io/am
