version: 2.1

orbs:
  docker: circleci/docker@2.1.4
  keeper: gravitee-io/keeper@0.6.2

commands:
  prepare-docker-context:
    steps:
      - setup_remote_docker
      - keeper/env-export:
          secret-url: keeper://cooU9UoXIk8Kj0hsP2rkBw/field/login
          var-name: DOCKER_LOGIN
      - keeper/env-export:
          secret-url: keeper://cooU9UoXIk8Kj0hsP2rkBw/field/password
          var-name: DOCKER_PASSWORD
      - docker/check

  add-docker-image-in-snyk:
    parameters:
      docker-image-name:
        type: string
      version:
        type: string
    steps:
      - run:
          name: Add << parameters.docker-image-name >> << parameters.version >> to Snyk
          command: |
            curl --fail \
                 --include \
                 --request POST \
                 --header "Content-Type: application/json; charset=utf-8" \
                 --header "Authorization: token ${SNYK_API_TOKEN}" \
                 --data-binary "{
              \"target\": {
                \"name\": \"graviteeio/<< parameters.docker-image-name >>:<< parameters.version >>\"
              }
            }" \
            "https://api.snyk.io/api/v1/org/aac3abd8-57ea-49ca-80dc-b109672b3a6e/integrations/${SNYK_INTEGRATION_ID}/import"

jobs:
  build-and-push-java:
    executor: docker/docker
    steps:
      - checkout
      - prepare-docker-context
      - run:
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker buildx build --push --platform=linux/arm64,linux/amd64 -t graviteeio/java:17 -f images/java/Dockerfile images/java/

  build-and-push-nginx:
    executor: docker/docker
    steps:
      - checkout
      - prepare-docker-context
      - run:
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker buildx build --push --platform=linux/arm64,linux/amd64 -t graviteeio/nginx:1.24 -f images/nginx/Dockerfile images/nginx/

  build-and-push-git-http-server:
    executor: docker/docker
    steps:
      - checkout
      - prepare-docker-context
      - docker/build:
          docker-context: images/git-http-server
          image: graviteeio/git-http-server
          path: images/git-http-server
          tag: '1.1.0'
      - docker/push:
          digest-path: /tmp/digest.txt
          image: graviteeio/git-http-server
          tag: '1.1.0'
      - run:
          command: |
            echo "Digest git-http-server image is: $(</tmp/digest.txt)"

  build-and-push-k6:
    executor: docker/docker
    steps:
      - checkout
      - prepare-docker-context
      - run:
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker buildx build --push --platform=linux/arm64,linux/amd64 -t graviteeio/k6:latest -f images/k6/Dockerfile images/k6/

  add-docker-images-in-snyk:
    docker:
      - image: cimg/base:stable
    resource_class: small
    parameters:
      docker-image-name:
        type: string
      version:
        type: string
    steps:
      - keeper/env-export:
          secret-url: keeper://s83JmReKpBZWjHdud6ZAlg/custom_field/gravitee_base_org_api_token
          var-name: SNYK_API_TOKEN
      - keeper/env-export:
          secret-url: keeper://s83JmReKpBZWjHdud6ZAlg/custom_field/gravitee_base_dockerhub_integration_id
          var-name: SNYK_INTEGRATION_ID
      - add-docker-image-in-snyk:
          docker-image-name: << parameters.docker-image-name >>
          version: << parameters.version >>

workflows:
  run_every_week:
    when:
      and:
        - equal: [ master, << pipeline.git.branch >> ]
    jobs:
      - build-and-push-java:
          context: cicd-orchestrator
      - add-docker-images-in-snyk:
          context: cicd-orchestrator
          requires:
            - build-and-push-java
          docker-image-name: java
          version: "17"
      - build-and-push-nginx:
          context: cicd-orchestrator
      - add-docker-images-in-snyk:
          context: cicd-orchestrator
          requires:
            - build-and-push-nginx
          docker-image-name: nginx
          version: "1.24"
      - build-and-push-git-http-server:
          context: cicd-orchestrator
      - add-docker-images-in-snyk:
          context: cicd-orchestrator
          requires:
            - git-http-server
          docker-image-name: git-http-server
          version: "1.1.0"
      - build-and-push-k6:
          context: cicd-orchestrator
      - add-docker-images-in-snyk:
          context: cicd-orchestrator
          requires:
            - build-and-push-k6
          docker-image-name: k6
          version: "latest"
