version: 2.1

orbs:
  docker: circleci/docker@2.1.4

jobs:
  build-and-push-java:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - run:
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker buildx build --push --platform=linux/arm64,linux/amd64 -t graviteeio/java:17 -f images/java/Dockerfile images/java/

  build-and-push-nginx:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - run:
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker buildx build --push --platform=linux/arm64,linux/amd64 -t graviteeio/nginx:1.22 -f images/nginx/Dockerfile images/nginx/

  build-and-push-git-http-server:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - docker/build:
          docker-context: images/git-http-server
          image: graviteeio/git-http-server
          path: images/git-http-server
          tag: '1.1.0'
      - docker/push:
          digest-path: /tmp/digest.txt
          image: graviteeio/git-http-server
          tag: '1.1.0'
      - run:
          command: |
            echo "Digest git-http-server image is: $(</tmp/digest.txt)"

  build-and-push-k6:
    executor: docker/docker
    steps:
      - setup_remote_docker
      - checkout
      - docker/check
      - run:
          command: |
            docker context create tls-env
            docker buildx create tls-env --use
            docker buildx build --push --platform=linux/arm64,linux/amd64 -t graviteeio/k6:latest -f images/k6/Dockerfile images/k6/

workflows:
  run_every_week:
    jobs:
      - build-and-push-java
      - build-and-push-nginx
      - build-and-push-git-http-server
      - build-and-push-k6
