#-------------------------------------------------------------------------------
# Copyright (C) 2015 The Gravitee team (http://gravitee.io)
#    Licensed under the Apache License, Version 2.0 (the "License");
#    you may not use this file except in compliance with the License.
#    You may obtain a copy of the License at
#            http://www.apache.org/licenses/LICENSE-2.0
#    Unless required by applicable law or agreed to in writing, software
#    distributed under the License is distributed on an "AS IS" BASIS,
#    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#    See the License for the specific language governing permissions and
#    limitations under the License.
#-------------------------------------------------------------------------------
version: '2'

volumes:
  nightly_datamongo: {}
  nightly_dataelasticsearch: {}

services:
  nightly_elasticsearch:
    network_mode: "bridge"
    extends:
      file: common.yml
      service: elasticsearch
    volumes:
      - nightly_dataelasticsearch:/usr/share/elasticsearch/data

  nightly_mongodb:
    network_mode: "bridge"
    extends:
      file: common.yml
      service: mongodb
    volumes:
      - nightly_datamongo:/data/db

  nightly_gateway:
    image: graviteeio/gateway:nightly
    network_mode: "bridge"
    extends:
      file: common.yml
      service: gateway
    links:
      - nightly_mongodb
      - nightly_elasticsearch
    depends_on:
      - nightly_plugins-ext
    labels:
    - "traefik.backend=nightly-graviteeio-gateway"
    - "traefik.frontend.rule=Host:nightly.gravitee.io;PathPrefixStrip:/gateway"
    environment:
      - gravitee_management_mongodb_uri=mongodb://demo-mongodb:27017/gravitee?serverSelectionTimeoutMS=5000&connectTimeoutMS=5000&socketTimeoutMS=5000
      - gravitee_ratelimit_mongodb_uri=mongodb://demo-mongodb:27017/gravitee?serverSelectionTimeoutMS=5000&connectTimeoutMS=5000&socketTimeoutMS=5000
      - gravitee_reporters_elasticsearch_endpoints_0=http://demo-elasticsearch:9200
      - gravitee_plugins_path_0=/opt/graviteeio-gateway/plugins
      - gravitee_plugins_path_1=/opt/graviteeio-gateway/plugins-ext
    volumes:
      - ./plugins-ext:/opt/graviteeio-gateway/plugins-ext

  nightly_managementui:
    image: graviteeio/management-ui:nightly
    network_mode: "bridge"
    extends:
      file: common.yml
      service: managementui
    labels:
    - "traefik.backend=nightly-graviteeio-managementui"
    - "traefik.frontend.rule=Host:nightly.gravitee.io"
    environment:
      - MGMT_API_URL=https:\/\/nightly.gravitee.io\/api\/management\/

  nightly_managementapi:
    image: graviteeio/management-api:nightly
    network_mode: "bridge"
    extends:
      file: common.yml
      service: managementapi
    labels:
    - "traefik.backend=nightly-graviteeio-managementapi"
    - "traefik.frontend.rule=Host:nightly.gravitee.io;PathPrefixStrip:/api"
    links:
      - nightly_mongodb
      - nightly_elasticsearch
      - fakesmtp
    depends_on:
      - fakesmtp
      - nightly_plugins-ext
    environment:
      - gravitee_management_mongodb_uri=mongodb://demo-mongodb:27017/gravitee?serverSelectionTimeoutMS=5000&connectTimeoutMS=5000&socketTimeoutMS=5000
      - gravitee_analytics_elasticsearch_endpoints_0=http://demo-elasticsearch:9200
      - gravitee_email_enabled=true
      - gravitee_email_host=fakesmtp
      - gravitee_email_port=1025
      - gravitee_management_url=https://nightly.gravitee.io
      - gravitee_portal_url=https://v3.nightly.gravitee.io
      - gravitee_portal_entrypoint=https://nightly.gravitee.io/gateway
      - gravitee_plugins_path_0=/opt/graviteeio-management-api/plugins
      - gravitee_plugins_path_1=/opt/graviteeio-management-api/plugins-ext
    volumes:
      - ./plugins-ext:/opt/graviteeio-management-api/plugins-ext

  nightly_portalui:
    image: graviteeio/portal-ui:nightly
    network_mode: "bridge"
    extends:
      file: common.yml
      service: portalui
    labels:
      - "traefik.backend=nightly-graviteeio-portalui"
      - "traefik.frontend.rule=Host:v3.nightly.gravitee.io"
    environment:
      - PORTAL_API_URL=https:\/\/nightly.gravitee.io\/api\/portal\/environments\/DEFAULT

  fakesmtp:
    image: reachfive/fake-smtp-server:0.8.1
    network_mode: "bridge"
    labels:
      - "traefik.backend=nightly-graviteeio-fakesmtp-ui"
      - "traefik.frontend.rule=Host:email.nightly.gravitee.io"
      - "traefik.port=1080"
    ports:
      - "1025:1025"

  nightly_plugins-ext:
    image: curlimages/curl
    volumes:
      - ./plugins-ext:/tmp/plugins-ext
    command: >
      curl -L -o /tmp/plugins-ext/gravitee-policy-javascript-1.0.0-SNAPSHOT.zip https://github.com/gravitee-io/gravitee-policy-javascript/raw/bundle-for-test-on-nightly/gravitee-policy-javascript-1.0.0-SNAPSHOT.zip
