server {
    listen 443;
    listen 80;
    server_name _;
    root /var/www/html;
    index index.html index.htm;
    charset utf-8;

    location /management/ {
        proxy_pass https://nightly.gravitee.io/api/management/;
    }

    location /portal/ {
        proxy_pass https://nightly.gravitee.io/api/portal/;
    }

    location / {
        try_files $uri$args $uri$args/ $uri $uri/ /index.html =404;
    }
}
