server {
    listen 443;
    listen 80 default_server;
    server_name _;
    root /var/www/html;
    index index.html index.htm;
    charset utf-8;

    location /management/ {
        rewrite ^/management(.*)$ $1 last;
        try_files $uri $uri/ =404;
    }
}